* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.sky,
.road,
.grass {
    position: relative;
}

.sky {

    background: lightblue;
    height: 40%;
    width: 100%;
    text-align: center;
}


.grass {
    background: seagreen;
    height: 30%;
}


.road {
    border-top: 10px solid grey;
    background: dimgrey;
    height: 30%;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 10px solid grey;
}


.lines {
    position: absolute;
    top: 45%;
    border: 5px dashed white;
    box-sizing: border-box;
    width: 100%;
    height: 0px;
}


/* Animations from here */


.mario {
    position: absolute;
    width: 80px;
    top: -90px;
    animation: drive 5s infinite;
}

@keyframes drive {
    from {
        transform: translateX(0);
    }


    to {
        transform: translateX(1360px);
    }
}



.cloud {
    width: 300px;

}



@media screen and (max-width:768px) {
    .cloud {
        width: 150px;
    }

    .mario {
        animation-duration: 3s;
    }

    @keyframes drive {
        from {
            transform: translateX(0);
        }


        to {
            transform: translateX(350px);
        }
    }



}



.mario-2 {
    position: absolute;
    width: 80px;
    top: -3px;
    animation: drive 3s infinite;
    animation-delay: 2s;
}